* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../images/red1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.back {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(151, 172, 241, 0.5);
}

.back div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;

}

.back div p,
.back div button {
    margin-top: 30px;
}

.back div h3 {
    font-weight: 400;
    font-size: 20px;
}

.back button {
    padding: 10px 40px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: 500ms;

}

.back button:hover {
    background-color: white;
    color: rgb(21, 21, 102);
}

/* Comienza los formularios */


.contForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);
}

.contForm form {
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contForm form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #af1010;

}

.contForm form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contForm form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #af1010;
    color: white;
    cursor: pointer;
    outline: none;
}

.cont_log {
    opacity: 1;
    display: block;

}

.cont_reg {
    display: none;
}

/* Responsivo */

@media screen and (max-width:850px) {

    main {
        margin-top: 50px;
    }

    .back {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .back div {
        margin: 0;
        position: absolute;
    }

    .contForm {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contForm form {
        position: relative;

    }
}